/*
The CSS code gets to executed from top to bottom and left ro right
Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/

/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100
}



/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

html {
    background-color: #9FC8FF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    text-align: center;
}

main {
    margin-bottom: 150px;
}

#background-image-wrapper {
    background: #FF416C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 80%;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#background-image {
    background-image: url("images/rawpixel-191102-unsplash.jpg");
    background-position: center center;
    background-size: cover;
    height: 280px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

.nav-homepage {
    display: inline-block;
    width: 100%;
    height: 48px;
    margin-bottom: 20px;
}

.nav-homepage img {
    width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

.landing-page {
    background-image: url("images/hero-image.jpg");
    background-position: center center;
    background-size: cover;
}

.landing-page img {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.landing-page #landing-page-heading {
    font-family: "urw-din-semi-condensed", "Helvetica", "Arial", "sans-serif";
    font-size: 45px;
    font-weight: lighter;
    color: darkblue;
}

.landing-page .button {
    font-family: 'Noto Sans', sans-serif;
    border-radius: 50px;
    background-color: darkblue;
    font-size: 25px;
    color: white;
    font-weight: lighter;
    margin-top: 10%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

.landing-page .button:hover {
    background-color: white;
    color: darkblue;
}

.column-wrapper {
    width: 100%;
    display: block;
    background-color: white;
    text-align: left;

}

.column-wrapper ul {
    margin-top: 1em;
    list-style-type: none;

}

.column-wrapper .background-image {
    margin: 0;
    padding: 0;
    background-image: url("images/map%20pinw.jpg");
    background-position: center center;
    background-size: cover;
    height: 300px;

}

#search-results li img {
    width: 100%;
    margin-top: 10px;
}

.column-wrapper li {
    display: inline-block;
    margin-bottom: 2em;
    padding: 1em;
    border: 1px solid darkblue;
    border-radius: 10px;
    color: darkblue;
    width: 48%;
    vertical-align: top;
    height: 270px;
    overflow-y: auto;
    margin-left: 0.5%;
    margin-right: 0.5%;

}

.column-wrapper h2 {
    width: 100%;
    display: block;
}

.column-wrapper li:empty {
    display: none;
}

.column-wrapper li p {
    word-wrap: break-word;
}

.column-wrapper li .results-image {
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    border-radius: 10px;
}


.column-wrapper li div {
    width: 100%;
    display: block;
    border: 1px solid red;

}

.column-wrapper li div a {
    display: none;
}



.half-column {
    width: 49.9%;
    display: inline-block;
    vertical-align: top;
    text-align: center;

}

.half-column-fixed {
    width: 49.5%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    height: 300px;

}

.half-column-fixed label {
    margin-top: 10px;
    display: block;

}


.half-column-fixed input {
    margin-top: 2%;
    margin-bottom: 7%;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 30%;
}

.half-column-fixed.white-background {
    background-color: #FF918E;

}

/*sticky container*/

.sticky {
    position: fixed;
    top: 0;
    right: 0;
    display: block;

}

footer {
    display: block;
    width: 100%;
    background-color: #0035c957;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 2px solid darkblue;

}

.personal-info li {
    display: inline-block;
    height: 2em;
    width: 2.5em;
    margin-left: 2.25em;
    margin-right: 2.25em;
    vertical-align: middle;
}

#gmail-image,
#linkedin-image,
#github-image,
#angelist-image {
    width: auto;
    height: 25px
}


@media only screen and (max-width: 768px) {
    /*
    body {
        color: red;
    }
*/
    .half-column {
        display: block;
        width: 100%;
    }
    .column-wrapper li {
        display: block;
        width: 100%;

    }
    #search-results li img {
        width: 50%;
        height: 100%;
        padding-top: 10px;
    }
    .half-column-fixed {
        width: 100%;
        display: block;
        height: 200px;

    }
    .half-column-fixed input {
        margin-top: 10px;
        margin-bottom: 10px;
    }

}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    /*
    body {
        color: green;
    }
*/
    #landing-page-heading {
        font-size: 25px;
    }

}


/*iPhone portrait*/
